<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__list">
      <li class="main-header__list-item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Add notes</a>
      </li>
      <li class="main-header__list-item">
        <a
          class="<%= path === '/view-notes' ? 'active' : '' %>"
          href="/view-notes"
          >View notes</a
        >
      </li>
    </ul>
  </nav>
</header>
