<%- include('./includes/head.ejs')  %>
    <link rel="stylesheet" href="/css/add-note.css" />
  </head>
  <body>
    <%- include('./includes/navigation.ejs') %>

    <main>
      <form action="/add-note" method="POST" id="form" class="form">
        <div class="form-control">
          <label for="day">Day :</label>
          <select name="day" id="day">
            <option value="Clean">Clean</option>
            <option value="not-clean">Not Clean</option>
          </select>
        </div>

        <div class="form-control cause" id="cause">
          <div class="cause-cont" id="cause-container">
            <label for="cause">Cause :</label>
            <input
              type="text"
              name="cause"
              id="cause"
              placeholder="Please enter the cause"
            />
            <button class="btn" type="button">+</button>
          </div>
        </div>

        <button class="submit-btn" type="submit">Submit</button>
      </form>
    </main>
<%- include('./includes/end.ejs') %>
