<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <h1>Available Notes</h1>
    <% if (notes && notes.length > 0) { %>
    <ul>
      <% notes.forEach(note => { %>
      <li>The day was: <%= note.day %>, and the Cause is: <%= note.cause %></li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>There are no notes available at the moment</p>
    <% } %>
  </body>
</html>
